{% extends 'base.html' %}

{% block title %}Home - GIS Dashboard{% endblock %}

{% block content %}
<div class="container welcome-ctnr">
    <div>
        <h2>Buongiorno {{ user.first_name|default:user.username }}!</h2>
        <p>Ti diamo il benvenuto nell'area di gestione della reportistica di Milano Serravalle - Milano Tangenziali S.p.A.</p>
    </div>
    <div>
        <i class="fa-solid fa-helmet-safety fa-4x"></i>
    </div>
</div>

{% if displayable_services %}
<div class="text-chunk">
    <h1>Servizi</h1>
    <p>Elenco dei servizi disponibili.</p>
</div>

<!-- LAYOUT RESPONSIVE A 3 COLONNE -->
<div class="grid-container columns-3">
    {% for service in displayable_services %}
    <div class="grid-column">
        <div class="icon-background">
            <i class="{{ service.icon_class }} fa-3x"></i>
        </div>
        <h2>{{ service.name }}</h2>
        <p>{{ service.description }}</p>
        <a href="{{ service.get_list_url }}" class="standard-link filled-link">Vai alla pagina</a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
