{% extends 'base.html' %}

{% block title %}Home - GIS Dashboard{% endblock %}

{% block content %}
<div class="container welcome-ctnr">
    <div>
        <h2>{{ ui_strings.home_greeting }} {{ user.first_name|default:user.username }}!</h2>
        <p>{{ ui_strings.home_welcome }}</p>
    </div>
    <div>
        <i class="fa-solid fa-helmet-safety fa-4x"></i>
    </div>
</div>

{% if displayable_services %}
<div class="text-chunk">
    <h1>{{ ui_strings.home_services_title }}</h1>
    <p>{{ ui_strings.home_services_subtitle }}</p>
</div>

<!-- LAYOUT RESPONSIVE A 3 COLONNE -->
<div class="grid-container columns-3">
    {% for service in displayable_services %}
    <div class="grid-column">
        <div class="icon-background">
            <i class="{{ service.icon_class }} fa-3x"></i>
        </div>
        <h2>{{ service.name }}</h2>
        <p>{{ service.description }}</p>
        <a href="{{ service.get_list_url }}" class="standard-link filled-link">{{ ui_strings.home_goto_btn }}</a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
